@import url("https://use.typekit.net/jts0xdz.css");

@font-face {
  font-family:"scale-variable";
  src:url("https://use.typekit.net/af/60a102/000000000000000077542086/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/60a102/000000000000000077542086/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/60a102/000000000000000077542086/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:200 900;font-stretch:normal;
  }

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin:auto;
}

.notes{
  position: absolute;
  right: 10%; 
  top: 76%; 
  width: 7%; 
  z-index: 5; 
}



p{
  position: absolute;
  right: 13%; 
  top: 85%; 
  z-index: 5; 
  font-family:"scale-variable"; 
  color: #416D40;
}

#one{
  background-color: #B1D374;
}
#two{
  background-color: #C9D6AC;
}
#three{
  background-color: #C7F6F2;
}
#four{
  background-color: #EFEAB9;
}
#five{
  background-color: #F29F3B;
}
#six{
  background-color: #21825C;
}
#seven{
  background-color: #5A81BA;
}
#eight{
  background-color: #753FD3;
}
#nine{
  background-color: #B1D374;
}


