@import url("https://use.typekit.net/jts0xdz.css");


html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin:auto;
}

.notes{
  position: absolute;
  right: 10%; 
  top: 76%; 
  width: 7%; 
  z-index: 5; 
}

#one{
  background-color: #B1D374;
}
#two{
  background-color: #C9D6AC;
}
#three{
  background-color: #C7F6F2;
}
#four{
  background-color: #EFEAB9;
}
#five{
  background-color: #fdf5e2;
}
#six{
  background-color: #21825C;
}
#seven{
  background-color: #5A81BA;
}
#eight{
  background-color: #753FD3;
}
#nine{
  background-color: #B1D374;
}


